{% extends "base.html" %}
{%block content %}

<div class="container">

<div>
<a href="{{url_for('profileDonors',donors_id=currentdonor.id)}}">
<H1>{{currentdonor.first_name}} {{currentdonor.last_name}}</H1></a>
</div>

</div>
<br>



<form id="articleForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">Medication</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Side Effects</label>
        <div class="col-xs-5">
            <textarea rows="1" class="form-control" name="sideffects"></textarea>
        </div>

    </div>
    <div class="form-group">
        <div class="col-xs-8">

                <button type="submit" class="btn btn-default btn pull-right">Add Medication </button>
        </div>

    </div>
</form>

<script>
$(document).ready(function() {
    $('#articleForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                trigger: 'keyup',
                validators: {
                    notEmpty: {
                        message: 'Medication name is required'
                    }
                }
            },
            sideffects: {
                trigger: 'blur',
                validators: {
                    notEmpty: {
                        message: 'sideffects are required'
                    }
                }
            },

        }
    });
});
</script>



{%endblock%}