<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Custom CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/full.css') }}">
    <!-- FormValidation CSS file -->
     <link rel="stylesheet" href="{{ url_for('static', filename='formvalidation/dist/css/formValidation.min.css') }}">

    <!-- jQuery -->
     <script src="{{ url_for('static', filename ='jquery.min.js') }}" type="text/javascript"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename ='js/bootstrap.min.js') }}" type="text/javascript"></script>
 
   
    <!-- FormValidation plugin and the clas supports validating Bootstrap form -->
    <script src="{{ url_for('static', filename ='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{url_for('static', filename = 'formvalidation/dist/js/formValidation.min.js') }}"></script>
    <script src="{{url_for('static', filename = 'formvalidation/dist/js/framework/bootstrap.min.js') }}"></script>

    
 
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="{{url_for('main')}}">Bootleg Blood Bank</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Put your page content here! -->
                <div class="container">
                    
                        {% block content %}
                        {% endblock %}
  

             </div>

<script>
    $("#field").change(function () {
    var changeVal = $("#field").val();
    if (changeVal.charAt(0) == '=' && changeVal.length >= 13) {
        //Extract the changeVal Number.
        changeVal = changeVal.substr(1, 13);
        $("#field").val(changeVal);
    }else{ changeVal=''; $("#field").val(changeVal);  }
    
});

$("#prNum").change(function () {
    var changePc = $("#prNum").val();
    if (changePc.charAt(0) == '=' && changePc.charAt(1) == "<") {
        //Extract the changeVal Number.
        changePc = changePc.substr(2, 5);
            $("#prNum").val(changePc);
    }else{changePc='';
    $("#prNum").val(changePc);}
});

$("#typeNum").change( function(){

    var newType = $("#typeNum").val();
    if(newType.charAt(0) == "=" && newType.charAt(1) == "%"){
        {
    newType = newType.substr(2,2);
    }

    if (newType == 51) {
    
     newType = 'O POS';
    
     }else if (newType == 95) {
    
     newType = 'O NEG'; 
    
     } else if (newType == 62) {
    
     newType = 'A POS'; 
    
     } else if (newType == 06) {
    
     newType = 'A NEG';
    
     } else if (newType == 73) {
    
     newType = 'B POS';
   
     } else if (newType == 17) {
    
     newType = 'B NEG';    
    
     } else if (newType == 84) {
    
     newType = 'AB POS';
    
     } else if (newType == 28) {
    
     newType = 'AB NEG';
    
     }             
    
    $("#typeNum").val(newType);}
    else{ newType=''; $("#typeNum").val(newType); }

});

$("#dateNum").change(function () {

    var fixDate = $("#dateNum").val();
    if (fixDate.charAt(0) == '&' && fixDate.charAt(1) == '>') {
        fixDate = fixDate.substr(3, 5);
    

    var yy = fixDate.slice(0, 2);
    var jDate = fixDate.slice(2, 5);
    var someDate = new Date("jan 0");

    someDate.setDate(parseFloat(someDate.getDate()) + parseFloat(jDate));
    someDate.setFullYear(parseFloat(someDate.getFullYear()) + parseFloat(yy));

    var dd = someDate.getDate();
    var mm = someDate.getMonth() + 1;
    var y = someDate.getFullYear();

    var someFormattedDate = mm + '/' + dd + '/' + y;


    $("#dateNum").val(someFormattedDate);
    } else{ someFormattedDate=''; $("#dateNum").val(someFormattedDate); }
    
    
});


    
</script>
</body>

</html>
