{% extends "base.html" %}
{%block content %}
<h1>{{currentuser.name}}</h1>
<a href="{{url_for('newDonors', users_id=currentuser.id)}}" class="btn  btn-primary btn-sm">Add Donor</a>



<table class="table table-no-border">
	
<thead >
  <tr>
    <th class='col-sm-2'>NAME</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% for i in donors %}
  <tr>
  	<td><p>{{i.first_name}} {{i.last_name}}</p></td>
  	<td><a href="{{url_for('addProduct', donors_id=i.id)}}" class="btn  btn-primary btn-sm">Add Product</a></td>
  	
    {% endfor %}
  </tr>
  </tbody>
</table>

{%endblock%}