{% extends "base.html" %}
{% block content %}

   <div class="container"> 
<table class="table table-no-border">


<thead>
  <tr>
    <th>Options</th>
    <th></th>
    <th>View</th> 
  </tr>
</thead>
<tbody>
  <tr>
  	<td>Users</td>
  	<td><a href="{{url_for('showUsers')}}" class="btn  btn-primary btn-sm">Show User</a></td>
  	<td>{{countusers}}</td>
  </tr>

  <tr>
  	<td>Donors</td>
  	<td><a href="{{url_for('showDonors')}}" class="btn  btn-primary btn-md">Show Donors  </a></td>
  	<td>{{countdonors}}</td>
  </tr>

  <tr>
  	<td>Products</td>
  	<td><a href="{{url_for('showProducts')}}" class="btn  btn-primary btn-md">Show Products</a></td>
  	<td>{{countproducts}}</td>
  </tr>

  <tr>
  	<td>Medication</td>
  	<td><a href="{{url_for('showMedication')}}" class="btn  btn-primary btn-md">Show Medication</a></td>
  	<td>{{countmedication}}</td>
  </tr>
  </tbody>
</table>
</div>

 {% endblock %}