{% extends "base.html" %}
{% block content %}

<div class="container">

<h1>Main Menu</h1>

</div>
<br>
<div>

<table class="table table-no-border">




<div class="row">
   <div class="col-md-9"> 
<table class="table table-no-border">

<thead>
  <tr>
    <th class="col-md-1">Options</th>
    <th class="col-md-1">Total</th>
    <th class="col-md-3">View</th> 
  </tr>
</thead>
<tbody>
  <tr>
  	<td><h4>Users</h4></td>
  	<td>{{countusers}}</td>
  	<td><a href="{{url_for('showUsers')}}" class="btn  btn-primary btn-sm">Show User</a></td>
  </tr>

  <tr>
  	<td><h4>Donors</h4></td>
  	<td>{{countdonors}}</td>
  	<td><a href="{{url_for('showDonors')}}" class="btn  btn-primary btn-md">Show Donors  </a></td>
  	
  </tr>

  <tr>
  	<td><h4>Products<h4></td>
  	<td>{{countproducts}}</td>
  	<td><a href="{{url_for('showProducts')}}" class="btn  btn-primary btn-md">Show Products</a></td>
  </tr>

  <tr>
  	<td><h4>Medication<h4></td>
  	<td>{{countmedication}}</td>
  	<td><a href="{{url_for('showMedication')}}" class="btn  btn-primary btn-md">Show Medication</a></td>
  	
  </tr>
  </tbody>
</table>
</div>
</div>

 {% endblock %}