{% extends "base.html" %}
{% block content %}

<h1>Medication Page</h1>
<div class="table-responsive"> 
<table class="table table-no-border ">
	
<thead>
  <tr>
    <th class='col-sm-1'>Medication</th>
    <th >Side effects</th>
    <th >Donor</th> 
  </tr>
</thead>
<tbody>
  {% for i in medication %}
  <tr>
  	<td> {{ i.name }}</td>
    <td> {{ i.sideffects }}</td>
    <td> {{ i.donors.first_name }} {{ i.donors.last_name }}</td>
    <td><a href="" class="btn  btn-primary btn-sm">edit</a>
    </td> 
    {% endfor %}
  </tr>
  </tbody>
</table>
</div>


{% endblock %}	