{% extends "base.html" %}
{% block content %}
 <div class="container">
<h1>Products Page</h1>
</div>
<br>

<div> 
<table class="table table-no-border">
	
<thead >
  <tr>
    <th class='col-sm-3'>Donor ID</th>
    <th class='col-sm-2'>Product Code</th>
    <th class='col-sm-2'>Type</th>
    <th class='col-sm-2'>Exp Date</th>
    <th class='col-sm-3'>Donor Name</th>
  </tr>
</thead>
<tbody>
  {% for i in product %}
  <tr>
  	<td>{{ i.bcode }}</td>
  	<td>{{ i.product_code }}</td>
  	<td>{{ i.type }}</td>
  	<td>{{ i.exp_date }}</td>
    <td>{{ i.donors.first_name}} {{ i.donors.last_name}}</td>

  {% endfor %}

  </tr>
  </tbody>
</table>
{% endblock %}