{% extends "base.html" %}
{% block content %}

<div class="container">

<h1>{{currentdonor.first_name}} {{currentdonor.last_name}}</h1>

</div>
<br>
<div> 
<table class="table table-no-border">
	

  <tr>
    <th class='col-sm-1'><a href="{{url_for('infoDonors', donors_id=currentdonor.id)}}" class="btn  btn-primary btn-sm">Donor Info</a></th>
    <th class='col-sm-1'><a href="{{url_for('addProduct', donors_id=currentdonor.id)}}" class="btn  btn-primary btn-sm">Add Product</a></th>
    <th class='col-sm-1'><a href="{{url_for('addMedication', donors_id=currentdonor.id)}}" class="btn  btn-primary btn-sm">Add medication</a></th>
    <th class='col-sm-1'><a href="{{url_for('historyDonors',donors_id=currentdonor.id)}}" class="btn btn-primary btn-sm ">Donation History</a></td>
   <td class='col-sm-1'><a href="{{url_for('donorMedication', donors_id=currentdonor.id)}}" class="btn  btn-primary btn-sm">Medication History</a> </th>
  </tr>

</table>



{% endblock %}