{% extends "base.html" %}
{% block content %}

<h1>Storage Page</h1>
<div class="table-responsive"> 
<table class="table ">
	
<thead>
  <tr>
    <th class='col-sm-1'>Location</th>
    <th class='col-sm-1'>Edit</th> 
  </tr>
</thead>
<tbody>
  {% for i in storage %}
  <tr>
  	<td class="text-left" >{{ i.location }}</td>
    <td class="text-left" ><a href="" class="btn btn-primary ">edit</a></td> 
    {% endfor %}
  </tr>
  </tbody>
</table>
</div>

<!-- {% for i in storage %}

<p>{{ i.location }}</p>

{% endfor %} 

{% endblock %}	 -->