{% extends "base.html" %}
{% block content %}

<div class="container">

<h1>User Page</h1><a href="{{url_for('newUser')}}" class="btn  btn-primary btn-sm">New User</a>
</div>
<br>
<div> 

<table class="table table-no-border">
	
<thead >
  <tr>
    <th class='col-sm-1'></th>
    <th></th> 
  </tr>
</thead>
<tbody>
  {% for i in user %}
  <tr>
  	<td>{{ i.name }} </td>
  	<td><a href="{{url_for('historyUser', users_id=i.id)}}" class="btn  btn-primary btn-sm">Login</a></td>
    {% endfor %}

    {% for i in donors %}
    <td>{{i.id}}</td>
    {% endfor %}
    
  </tr>
  </tbody>
</table>
{% endblock %}

