 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
     <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/waka.js')}}"></script>


    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script type="text/javascript" src="{{ url_for('static', filename='formvalidation/dist/js/framework/bootstrap.min.jss')}}"></script>
    <script  type="text/javascript" src="{{ url_for('static', filename='formvalidation/dist/js/formValidation.min.js')}}"></script>